<div class="container my-3">
  <div class="topic navy line-b mt-2 mb-3 text-center">
    <h3>Submit Tax Filing</h3>
  </div>
  <div>
    <div id="stepper1" class="bs-stepper">
      <div class="bs-stepper-header">
        <div class="step" data-target="#test-l-1">
          <button class="step-trigger">
            <span class="bs-stepper-circle">1</span>
            <span class="bs-stepper-label">Input Detail</span>
          </button>
        </div>
        <div class="line"></div>
        <div class="step">
          <button class="step-trigger">
            <span class="bs-stepper-circle">2</span>
            <span class="bs-stepper-label">Review & Confirm</span>
          </button>
        </div>
      </div>
      <div class="bs-stepper-content">
        <form (ngSubmit)="onSubmit()">
          <div id="test-l-1" class="content">
            <div class="card">
              <div class="card-body">
                <form class="form-search pt-2 bg-white">
                  <label>
                    <h5>1. Text Filing Detail</h5>
                  </label>
                  <hr />
                  <label class="box-sty">
                    <div>Type of filing</div>
                  </label>
                  <div class="form-group row box-sty">
                    <div class="col-3">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                          value="0" (change)="onFilingTypeChange($event)" [checked]="filingType == 0">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Ordinary Filing <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                            <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                          </svg>
                        </label>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                          value="1" [checked]="filingType == 1" (change)="onFilingTypeChange($event)">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Additional Filing <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                            <path
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                          </svg>
                        </label>
                      </div>
                    </div>
                  </div>
                  <label class="box-sty" *ngIf="filingType === 0">
                    <div>VAT Month</div>
                  </label>
                  <div class="form-group row" *ngIf="filingType === 0">
                    <div class="col-3 box-sty">
                      <select class="form-select form-select-sm select-sty" (ngModel)="(month)"
                        (change)="onMonthChange($event)" aria-label=".form-select-sm example">
                        <option *ngFor="let month of months" [value]="month.value" [selected]="month.value == monthNow"
                          [disabled]="month.value == monthNow"> {{ month.viewValue }}</option>
                      </select>
                    </div>
                    <div class="col-3 box-sty">
                      <select class="form-select form-select-sm select-sty" aria-label=".form-select-sm example"
                        (change)="onchangeYear($event)">
                        <option *ngFor="let year of years" [value]="year" [selected]="year == yearNow">
                          {{ year }}
                      </select>
                    </div>
                  </div>
                  <div class="form-group row" *ngIf="filingType === 1">
                    <div class="col-6">
                      <label *ngIf="filingType === 1" class="box-sty">
                        <div>Tax Mouth</div>
                      </label>
                      <div class="form-group row" *ngIf="filingType === 1">
                        <div class="col-3">
                          <select class="form-select form-select-sm select-sty" (ngModel)="(month)"
                          (change)="onMonthChange($event)" aria-label=".form-select-sm example">
                          <option *ngFor="let month of months" [value]="month.value" [selected]="month.value == monthNow"
                            [disabled]="month.value == monthNow"> {{ month.viewValue }}</option>
                        </select>
                        </div>
                        <div class="col-3">
                          <select class="form-select form-select-sm select-sty" aria-label=".form-select-sm example"
                          (change)="onchangeYear($event)">
                          <option *ngFor="let year of years" [value]="year" [selected]="year == yearNow">
                            {{ year }}
                        </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <label *ngIf="filingType === 1" class="box-sty">
                        <div>Type</div>
                      </label>
                      <div class="form-group row" *ngIf="filingType === 1">
                        <div class="col-3">
                          <select class="form-select form-select-sm select-sty" aria-label=".form-select-sm example" (ngModel)="(month)"
                          (change)="onMonthChange($event)">
                          <option
                          *ngFor="let month of months"
                          [value]="month.value"
                          [selected]="month.value == monthNow"
                          [disabled]="month.value == monthNow"
                        >
                          {{ month.viewValue }}
                        </option>
                        </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <br>
                <form class="form-search pt-2 bg-white">
                  <div class="form-group row">
                    <div class="col-6">
                      <h5>2. Tax Compuration</h5>
                    </div>
                    <div class="col-6" style="text-align: end;">
                      <h5>View Exchange Rate</h5>
                    </div>
                  </div>
                  <hr />
                  <label class="box-sty">
                    <span>Provide total value taxble electronic service *</span>
                  </label>
                  <div class="form-group row  box-sty">
                    <div class="col-6">
                    {{ filingType === 0 ? "1. Total value of taxable electronic service exclusive of VAT" : "1. Underdeclared Thai raxable electronic service"}}
                    </div>
                    <div class="col-6">
                      <div class="input-group">
                        <input class="form-control input-custom" type="number" name="saleAmount"
                        [(ngModel)]="saleAmount"  (ngModelChange)="onChangeSaleAmount()" />
                        <span class="input-group-text">THB</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row  box-sty">
                    <div class="col-6">

                      {{ filingType === 0 ? " 2. Total VAT to be remitted (7% of 1.)" : "2 .Total VAT to be remitted (7% of 1.)"}}
                    </div>
                    <div class="col-6">
                      <div class="input-group">
                        <input class="form-control input-custom" type="number"
                        type="number"
                        value="{{ taxAmount }}" />
                        <span class="input-group-text">THB</span>
                      </div>
                    </div>
                  </div>
                </form>
                <form class="form-search pt-2 bg-white" *ngIf="filingType === 1">
                  <label class="box-sty">
                    <span>In case of late filling and payment, or additional filling</span>
                  </label>
                  <div class="form-group row  box-sty">
                    <div class="col-6">
                      3. Surcharge <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                        <path
                          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                    </div>
                    <div class="col-6">
                      <div class="input-group">
                        <input type="number" class="form-control" [disabled]="true" [disabled]="true"
                        [value]="surchargeAmount | number" name="surchargeAmount">
                        <span class="input-group-text">THB</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row  box-sty">
                    <div class="col-6">
                      4. Penalty <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                        <path
                          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                      </svg>
                    </div>
                    <div class="col-6">
                      <div class="input-group">
                        <input type="number" class="form-control" value="200.00" [disabled]="true">
                        <span class="input-group-text">THB</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row  box-sty">
                    <div class="col-6">
                      5. Total amount of VAT,surcharge, and penalty to be remitted
                      (2.+3.+4.)
                    </div>
                    <div class="col-6">
                      <div class="input-group">
                        <input type="number" [value]="totalAmount" class="form-control" [disabled]="true">
                        <span class="input-group-text">THB</span>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- <div id="test-l-2" class="content">
          </div> -->
          <!-- <div id="test-l-3" class="content text-center">
            <button type="submit" class="btn btn-primary mt-5">Submit</button>
          </div> -->
        </form>
        <br>
        <div class="form-group row">
          <div class="col-2" *ngIf="filingType === 0" (click)="backPage()">
            <button class="btn btn-secondary btn-sty">Back</button>
          </div>
          <div class="col-2" *ngIf="filingType === 1">
            <button class="btn btn-secondary btn-sty" (click)="backStep()">Back</button>
          </div>
          <div class="col-2">
            <button (click)="validateForm(2)" class="btn btn-primary btn-sty">Next</button>
          </div>
          <!-- <div class="col-2"  *ngIf="filingType === 0">
            <button (click)="nextStep()" class="btn btn-primary btn-sty">Next</button>
          </div> -->
          <!-- <div class="col-2" *ngIf="filingType === 1">
            <button (click)="validateForm(2)" class="btn btn-primary btn-sty">Next</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>

</div>
