.box-form {
  background-color: black;
}

.steper-sty {
  width: 300px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.box-sty {
 margin: 10px;
}

.btn-sty {
  border-radius: 25px;
  padding: 10px;
  width: 100px;
}
