<ul class="nav justify-content-end nav-bar-header">
  <li class="nav-item">
    <a class="nav-link">Time in Thailand: 15:57 (GMT+7) | 1stOctober 2021</a>
  </li>
  <li class="nav-item">
    <a class="nav-link icon-sty"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
        <path fill-rule="evenodd"
          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
      </svg></a>
  </li>
  <li class="nav-item">
    <a class="nav-link nav-box">
      <select class="form-select form-select-sm select-sty"
        aria-label=".form-select-sm example">
        <option selected>Lorem Co Ltd,</option>
      </select>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"></a>
  </li>
</ul>
<router-outlet></router-outlet>

