
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.box-sty {
 margin: 20px;
}

.header-sty {
  margin: 20px 20px 0 20px;
 }

 .form-check {
  padding-top: 10px;
 }
