<div class="container my-3">
  <div class="topic navy line-b mt-2 mb-3 text-center">
    <h3>Submit Tax Filing</h3>
  </div>
  <div>
    <div class="bs-stepper-content">
      <form>
        <div id="test-l-1" class="content">
          <div class="card">
            <div class="card-body">
              <form class="form-search pt-2 bg-white">
                <label class="header-sty">
                  <h5>Text Filing Detail</h5>
                </label>
                <hr />
                <div class="form-group row">
                  <div class="col-4">
                    <div class="form-check">Type of filing</div>
                  </div>
                  <div class="col-6">Ordinary Filing</div>
                </div>
                <div class="form-group row">
                  <div class="col-4">
                    <div class="form-check">VAT Month</div>
                  </div>
                  <div class="col-6">September 2021</div>
                </div>
                <br />
              </form>
              <form class="form-search pt-2 bg-white">
                <label class="header-sty">
                  <h5>Text Computation</h5>
                </label>
                <hr />
                <div class="form-group row">
                  <div class="col-6">
                    <div class="form-check">
                      Total value of taxable electronic service exclusive of VAT
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-check">{{ saleAmount }} THB</div>
                  </div>
                  <br />
                </div>
                <div class="form-group row">
                  <div class="col-6">
                    <div class="form-check">Total VAT to be remitted</div>
                    <b style="margin-left: 24px">
                      (7% of total value of taxable electronic service exclusive
                      of VAT)
                    </b>
                  </div>
                  <div class="col-6">
                    <div class="form-check">{{ taxAmount | number:'1.2-2' }} THB</div>
                  </div>
                </div>
                <br />
                <div class="form-group row">
                  <div class="col-6">
                    <div class="form-check">Total Amount Payable</div>
                  </div>
                  <div class="col-6">
                    <div class="form-check">{{ (filingType === 0 ? total : totalAmount) | number:'1.2-2' }} THB</div>
                  </div>
                </div>
              </form>
              <br />
              <form class="form-search pt-2 bg-white">
                <label class="header-sty">
                  <h5>Declaration</h5>
                </label>
                <hr class="box-sty" />
                <div class="form-group row">
                  <div class="col-12">
                    <div class="form-check">
                      I hereby certify that information given above are ture and
                      correct and agree to be bound by such information.
                    </div>
                  </div>
                  <br />
                </div>
              </form>
            </div>
          </div>
        </div>
      </form>
      <br />
      <div class="form-group row text-center">
        <div class="col-12">
          <button class="btn btn-primary btn-sty">Confirm and Sumbmit</button>
        </div>
      </div>
    </div>
  </div>
</div>
